@charset "UTF-8";

header {
    background-color: lightskyblue;
}
/* フッターのメニュー　ここから */
.inner {
    max-width: 100%;
    margin: 0 auto;
    width: 980px;
    align-items: center;
    height: auto;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex li {
    margin-left: 30px;
    list-style: none;
}

.btn4{
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;
    color: white;
}
 
.btn4::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #3367ff;
    display: block;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
}
.btn4:hover::before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
}
 
.btn2{
    text-align: center;
    position: relative;
    text-decoration: none;
    display:inline-block;
    border-bottom: 2px solid #3367ff;
    color: white;
    
}

/* スマホの表記崩れ防止 */
@media screen and (max-width: 767px) {
    .flex {
        text-align: center;
        display: inline-block;
        line-height: 50px;
        flex-direction: column;
        padding-bottom: 10px;
        padding-left: 0;
    }
    .flex li {
        margin: 0 auto;
        list-style: none;
    }
}

/* フッターのメニュー　ここまで */

.slide {
    position   : relative;
    overflow   : hidden;
    /* 画像サイズは固定で！ */
    width      : 800px;
    height     : 450px;
    margin     : auto;
    background : #fff;
  }
   
/* 画像の設定 */
.slide img {
    display    : block;
    position   : absolute;
    /* 画像のサイズを表示エリアに合せる */
    width      : inherit;
    height     : inherit;
    left       : 100%;
    animation  : slideAnime 12s ease infinite;
  }
   
    /* スライドのアニメーションを段差で開始する */
  .slide img:nth-of-type(1) { animation-delay: 0s }
  .slide img:nth-of-type(2) { animation-delay: 3s }
  .slide img:nth-of-type(3) { animation-delay: 6s }
  .slide img:nth-of-type(4) { animation-delay: 9s }
   
   /* スライドのアニメーション */
  @keyframes slideAnime{
     0% { left: 100%  }
     2% { left: 0     }
    23% { left: 0     }
    25% { left: -100% }
   100% { left: -100% }
  }

  footer {
    background-color: lightskyblue;
    text-align: center;
    color: white;
}