$c-bg: #fff !default;
$c-text: #000 !default;
$c-dimText: #444 !default;

$c-link: #0827f5 !default;
$c-linkLight: #64a7df !default;

$c-ground: #000 !default;
$c-headerBg: #f00 !default;
$c-headerText: #fff !default;
$c-headerNavBg: #000 !default;
$c-headerNavText: #fff !default;
$c-headerNavStrong: #ff0 !default;

$c-logoText: #fff !default;
