footer {
padding: 8px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
background: #ddd;
box-shadow: 0 -11px 24px #fafafa;
font-feature-settings: "palt";
}

// desktop
//      margin-top: 38px;
// mobile
//      margin-top; 11px;


.iconlinks {
  margin-top: 4px;
  img {
    height: 32px;
    padding: 8px;
  }
}

.copyright {
  margin-bottom: 4px;
  display: inline-block;
  color: #444;
  font-weight: bold;
}
