.picsslide {
  max-width: 800px;
  height: 450px;
  margin: auto;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 100%;
    animation: slideAnime 16s ease infinite;
    border-radius: 5px;
  }
  img:nth-of-type(1) { animation-delay: 0s }
  img:nth-of-type(2) { animation-delay: 4s }
  img:nth-of-type(3) { animation-delay: 8s }
  img:nth-of-type(4) { animation-delay: 12s }
  @keyframes slideAnime {
    0% { left: 100% }
    2% { left: 0 }
    23% { left: 0 }
    25% { left: -100% }
    100% { left: -100% }
  }
}

.gamingtext {
  margin: 48px 0;
  text-align: center;
  font-weight: 900;
  font-style: oblique 9deg;

  color: transparent;
  background-image: repeating-linear-gradient(135deg,
    red, orange, yellow, green, aqua, blue, purple,
    red, orange, yellow, green);
  background-size: 800%;
  background-repeat: repeat-x;

  background-clip: text;
  -webkit-background-clip: text;

  animation: gaming 5s linear infinite;
  @keyframes gaming {
    from { background-position: 0% 50% }
    /*何故か80%くらいでいい感じに動く*/
    to { background-position: 80% 50% }
  }
}

.welcometext {
  font-size: x-large;

  span {
    display: inline-block;
  }
}