@import "../components/colors.scss";

.faq {
  margin: 16px 4px;
  border: 1px solid $c-border-gray;
  border-radius: 8px;
  box-shadow: 0 0 8px 2px #eee;
  font-size: larger;
  user-select: none;

  summary {
    margin: 8px 8px;
    padding: 0 8px;
    &::before {
      content: "Q.";
      width: 1.5em;
      display: inline-block;
      font-weight: bold;
      font-size: 1.5em;
    }
    &::marker {
      color: gray;
    }
  }

  &[open] summary {
    padding-bottom: 8px;
    border-bottom: 1px solid $c-border-gray;
  }

  div {
    margin: 12px 16px;
    margin-left: 32px;
    &::before {
      content: "A.";
      width: 1.5em;
      display: inline-block;
      font-weight: bold;
      font-size: 1.5em;
    }
  }
}


.q {
  padding: 12px;
  user-select: none;
  font-weight: bolder;
  &::marker {
    color: gray;
    font-size: 1em;
  }
}

.a {
  padding: 12px;
  padding-left: 4em;
}
