$c-primary: #87cefa;
$c-secondary: #87cefa;
$c-accent: #ff00ff;

$c-bg: #ff0000;
$c-bg-secondary: #222288;

$c-text: #000;
$c-text-colored: #fff;

$c-link: blue;
$c-link-visited: darkblue;
$c-link-hover: red;
$c-link-active: yellow;
