@import "reseter.css/css/reseter.min.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");

body {
  font-family: 'Noto Sans JP', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-feature-settings: "palt";
}

code {
  margin: 0 4px;
  padding: 2px 6px;
  border-radius: 2px;
  background: #eee;
}

pre {
  padding: 8px 18px;
  border-radius: 4px;
  background: #eee;
  line-height: 1.8;

  code {
    margin: 0;
    padding: 0;
  }
}