@import "./colors.scss";
@import "./aliases.scss";


// Layout

.fullheight {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@mixin container {
  width: 84%;
  margin: 0 auto auto;

  animation: fadeIn 0.5s ease 0s 1 normal;
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  @-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}

.container {
  @include container;
  // const PcContainer = styled(Container)`
  //   width: 960px;
  // `
  // const TabContainer = styled(Container)`
  //   width: 84%;
  // `
  // const MobileContainer = styled(Container)`
  //   width: 92%;
  // `
}

.widecontainer {
  @include container;
  width: 100%;
}


// Header

header {
  @include flex($direction: column);
  margin-bottom: 24px;
  user-select: none;
}

.header_main {
  @include flex($align: stretch);
  width: 100%;
  height: 72px;
  background: $c-primary;
  font-feature-settings: "palt";
  @include pc_layout {
    padding: 0 48px;
  }
  @include non_pc_layout {
    padding: 0 2%;
  }
}

.logo_link {
  /* リンクの大きさを画像の幅だけにしたい */
  width: 234px;

  .logo_img {
    height: 100%;
    &:hover {
      transition: .1s;
      transform: scale(.95);
    }
  }
}

.links_link {
  a {
    @include flex($direction: column, $justify: center);
    height: 100%;
    color: $c-text-colored;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    position: relative; // 下のアレ用
    min-width: 36px;
    margin: 0 6px;
    padding: 0 6px;
    &::before,
    &::after {
      width: 0;
      display: block;
      position: absolute;
      bottom: 8px;
      content: "";
      border-bottom: solid 4px white;
      transition: .2s ease;
    }
    &::before {
      left: 50%;
    }
    &::after {
      right: 50%;
    }
    &:hover {
      &::before,
      &::after {
        width: 50%;
      }
    }
  }
}

.links_desktop {
  @include pc_layout {
    @include flex($align: stretch);

    div {
      height: 100%;
    }
  }
  @include non_pc_layout { display: none; }
}

.links_menu {
  overflow: hidden;
  @include pc_layout { display: none; }
  @include non_pc_layout {
    @include flex($direction: column, $align: stretch);
    width: 100%;
    background: $c-bg-secondary;

    div {
      height: 100px;
    }
  }
}
.links_menu_open {
  max-height: 500px;
  transition: max-height .2s;
}
.links_menu_close {
  max-height: 0;
  transition: max-height .2s;
}

.links_menu_hamburger {
  @include pc_layout { display: none; }
  @include non_pc_layout {
    width: 64px;
    height: 64px;
    margin: auto 0;
    padding: 0;
    background: none;
    border: none;
    &__line {
      display: block;
      width: 40px;
      height: 4px;
      margin: auto;
      border-radius: 2px;
      background: $c-text-colored;
      &::before {
        display: block;
        height: 4px;
        position: relative;
        border-radius: 2px;
        content: '';
        background: $c-text-colored;
      }
      &::after {
        display: block;
        height: 4px;
        position: relative;
        border-radius: 2px;
        content: '';
        background: $c-text-colored;
      }
      &.open {
        background: transparent;
        transition: all .1s;
        &::before {
          bottom: 0px;
          transform: rotate(45deg);
          transition: all .1s;
        }
        &::after {
          top: 0-4px;
          transform: rotate(-45deg);
          transition: all .1s;
        }
      }
      &.close {
        background: $c-text-colored;
        transition: all .1s;
        &::before {
          bottom: 12px;
          transition: all .1s;
        }
        &::after {
          top: 12-4px;
          transition: all .1s;
        }
      }
    }
  }
}


// Footer

footer {
  padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #ddd;
  box-shadow: 0 -11px 24px #fafafa;
  font-size: 1.2rem;
  font-feature-settings: "palt";
}

// desktop
//      margin-top: 38px;
// mobile
//      margin-top; 11px;

.iconlinks {
  img {
    width: 16px;
    height: 16px;
    margin: 8px;
    fill: blue;
  }
}

.copyright {
  margin-bottom: 4px;
  display: inline-block;
  color: #444;
  font-weight: bold;
}
