@import "reseter.css/css/reseter.min.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap");
@import "./colors.scss";

html {
  font: 1rem/1.5 'Noto Sans JP', sans-serif;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.75rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1rem; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .5rem;
  font-feature-settings: "palt";
}

p, ul, dl {
  margin: 0 0 .5rem;
}

a {
  color: $c-link;
  outline: none;
  text-decoration: none;
  &:visited {
    color: $c-link-visited;
    text-decoration: none;
  }
  &:hover {
    color: $c-link-hover;
    text-decoration: underline;
  }
  &:active {
    color: $c-link-active;
    text-decoration: none;
  }
}

code {
  margin: 0 4px;
  padding: 2px 6px;
  border-radius: 2px;
  background: #eee;
}

pre {
  padding: 8px 18px;
  border-radius: 4px;
  background: #eee;
  line-height: 1.8;

  code {
    margin: 0;
    padding: 0;
  }
}

// twemoji
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}
