@import "styles/sanitize.scss";
@import "styles/helpers.scss";
@import "styles/variables.scss";
@import "firacode";

body {
  font-size: 1.2rem;

  *:focus-visible {
    outline: auto;
  }
}

a {
  color: $c-link;
  font-weight: bolder;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: $c-linkLight;
  }
}

.inline-block {
  display: inline-block;
}

.red {
  color: #f00;
}
