@import "styles/sanitize.scss";
@import "styles/helpers.scss";
@import "styles/variables.scss";
@import "firacode";
@import "katex/dist/katex.min.css";

// Global

body {
  font-size: 1.2rem;

  *:focus-visible {
    outline: auto;
  }
}

a {
  color: $c-link;
  font-weight: bolder;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: $c-linkLight;
  }
}

code {
  margin: .25em;
  padding: .25em .5em;
  border-radius: .25em;
  background-color: $c-dimBg;
  font: .8em $f-mono;
}

pre {
  padding: .5em 1em;
  border-radius: .25em;
  background-color: $c-dimBg;

  code {
    margin: 0;
    padding: 0;
  }
}

// MD
// MD用のlayout.svelteで指定しても無理


// Components

.inline-block {
  display: inline-block;
}

.red {
  color: #f00;
}
