@import "styles/sanitize.scss";
@import "styles/helpers.scss";
@import "styles/variables.scss";
@import "firacode";

body {
  font-size: 1.2rem;

  *:focus-visible {
    outline: auto;
  }
}

a {
  color: $c-link;
  font-weight: bolder;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &:active {
    color: $c-linkLight;
  }
}

code {
  margin: 0 .5em;
  padding: .5em;
  border-radius: .5em;
  background-color: $c-dimBg;
  font-family: $f-mono;
}

pre {
  padding: 1em;
  border-radius: .5em;
  background-color: $c-dimBg;

  code {
    margin: 0;
    padding: 0;
  }
}

.inline-block {
  display: inline-block;
}

.red {
  color: #f00;
}
