# デフォルトの無視対象ファイル
/shelf/
/workspace.xml
# エディターベースの HTTP クライアントリクエスト
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
discord.xml
GitLink.xml
graphql-settings.xml
misc.xml
git_toolbox_prj.xml
